{% extends "board/base2.html" %}

{% block content %}
    <div class="post">
        <h2>Sign in</h2>
        {% if form.errors %}
            <p>이름과 비밀번호가 일치하지 않습니다. 다시 시도해주세요.</p>
        {% endif %}
        <form class="form-signin" method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>

            <input class="btn btn-md btn-primary" type="submit" value="Sign in" >
            <input type="hidden" name="next" value="{{ next }}" >
            <p>New around here? <a href="{% url 'board:signup'%}" class="btn btn-sm btn-secondary">Sign up</a></p>
        </form>
    </div>
{% endblock %}